.links{
      display: flex;
      align-items: center;
      gap: 10px;
}

.logout{
      padding: 10px;
      cursor: pointer;
      font-weight: bold;
      background: var(--text);
      color: var(--bg);
      border-radius: 10px;
}

.menuButton,
.mobileLinks{
      display: none;
}

@media (max-width: 768px){
      .links{
            display: none;
      }
      .mobileLinks{
            position: absolute;
            top: 100px;
            right:0;
            width:50%;
            background-color: rebeccapurple;
            min-height: calc(100vh - 100px);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            overflow: hidden;
            transition: height 0.5s ease-in-out;
            border-radius: 10px;
      }
      .menuButton{
            background-color: var(--text);
            color: var(--bg);
            display: block;
            padding: 3px;
            border-radius: 5px;
            font-weight: bold;
      }
}

