.container{
      display: flex;
      align-items: center;
      gap: 100px;
}

.imgContainer{
      position: relative;
      flex: 1;
      height: 500px;
}

.img{
      object-fit: contain;
}

.formContainer{
      flex: 1;
}

.form{
      display: flex;
      flex-direction: column;
      gap: 20px;
} 

.form input,
.form textarea{
      padding: 20px;
      border-radius: 5px;
      border: none;
      outline: none;
      background-color: var(--bgSoft);
      color: var(--textSoft);
}

.form button{
      padding: 20px;
      border-radius: 5px;
      background-color: var(--bth);
      color: var(--text);
      cursor: pointer;
      border: none;
}

@media (max-width: 768px){
      .container{
            flex-direction: column;
      }
}