@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  block-size: border-box;
}

:root{
  --bg: #0d0c22;
  --text: white;
  --bgSoft: #2d2b42;
  --textSoft: #e5e5e5;
  --bth: #3673fd;
}

body{
  background: var(--bg);
  display: flex;
  flex-direction: column;
  color: white;
}

a{
  text-decoration: none;
  color: var(--text);
}

.container{
  width: 1536;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1536px) {
  .container{
    width: 1366px;
  }
}

@media (max-width: 1366px) {
  .container{
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container{
    width: 1024px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1024px) {
  .container{
    width: 768px;
  }
}