 
.container{
      display: flex;
      flex-direction: row;
      gap: 10px;
}

.textContainer{

}

.title{
      color: gray;
      font-weight: bold;
}

.username{
      font-weight: 500;
}

.avatar{
      object-fit: cover;
      border-radius: 50%;
}

.text{
      display: flex;
      flex-direction: column;
      gap: 10px;
}